:root{
  --second-color: #222125;
  --accents-color: #C4DAD2;
  --accents-hover: #a5c5b9;
  --mid-tone: #141315; 
  --third-color: #f7f8fa;
  --main-font-color: #000000;
  --main-font-fam: "Roboto", serif;
  --title-font-fam: "Anton SC", serif;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font-fam);
  background-color: #fff;
}

* {
  box-sizing: border-box !important;
}

.header{
  display: flex;
  min-width: 100%;
  height: 8dvh;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--second-color);
  position: sticky;
  top: 0;
  z-index: 20;
}

.header__logo{
  width: 10%;
  height: 70%;
  object-fit: contain;
}

.header__logo a{
  max-width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  color: var(--accents-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-image{
  height: 100%;
}

.header__search-wrapper{
  display: flex;
  align-items: center;
  height: 40px;
  width: clamp(200px, 60%, 1000px);
}

.header__search-input{
  width:100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  line-height: normal;
}

.header__search-input, .header__search-btn{
  outline: none;
  border: none;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: var(--main-font-fam);
  font-size: 1rem;
}

.header__search-wrapper:has(.header__search-input:focus){
  outline: 3px solid var(--accents-hover);
  border-radius: 4px;
}

.header__search-btn{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width:45px;
  min-height: 100%;
  background-image: url("../_images/_un-optimized/icons/search-icon.png");
  background-position: center;
  background-size:55%;
  background-repeat: no-repeat;
  background-color: var(--accents-color);
  cursor: pointer;
}

.header__search-btn:hover{
  background-color: var(--accents-hover);
}

.header__shopping-cart{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__shopping-cart-logo{
  width: 100%;
}

.header__shopping-cart-counter{
  position: absolute;
  top: 2px;
  left: 13px;
  margin: 0;
  color: var(--main-font-color);
  font-size: 0.8rem;
  font-weight: 600;
}

/* -- Main Content -- */
.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* Hero Section */
.main__hero-section{
  width: 100%;
  height: 92dvh;
  background: url(../_images/_un-optimized/hero-section/eight-guitars-gray.jpg) no-repeat;
  background-size: cover;
  -webkit-backdrop-filter:blur(10%);
  backdrop-filter: blur(10%);
  color: #fff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__hero-section div{
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #00000069;
  box-shadow: 0 4px 30px #0000001a;
  -webkit-backdrop-filter: blur(7.2px);
  backdrop-filter: blur(7.2px);
  border: 1px solid #6a666640;
  display: flex;
  flex-direction: column; 
  align-items: center;

}

.main__hero-section h1{
  text-align: center;
  font-size: 8rem;
  font-family: var(--main-font-fam);
}

.main__hero-section p{
  font-size: 2rem;
}

.main__hero-section a{
  width: 10%;
  text-align: center;
  background-color: var(--accents-color);
  border-radius: 0.5rem;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 1rem;
}

.main__hero-section a:hover{
  background-color: var(--accents-hover);
}

/* Popular items */
.main__popular{
  width: clamp(300px, 70%, 1600px);
}

.main__popular nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main__popular nav a{
  width: 250px;
  text-decoration: none;
}

.main__popular nav figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 0.6;
  margin: 0;
  box-shadow: 3px 3px 7px #00000022;
  border-radius: 10px;
  overflow: hidden;
}

.main__popular nav figure img{
  width: 100%;
  object-fit: contain;
  min-height: 90%;
  padding: 10px;
  z-index: 1;
  background-color: #f6f6f6;
  transition: transform 150ms linear;
}

.main__popular nav a:hover figure img{
  transform: scale(1.2);
}

.main__popular nav figure figcaption{
  width: 100%;
  text-align: center;
  font-family: var(--title-font-fam);
  color: #000;
  background-color: var(--accents-color);
  font-size: 1.5rem;
  padding: 10px;
  transition: background-color 150ms linear;
  z-index: 2;
  cursor: pointer;
}

.main__popular nav figure figcaption:hover{
  text-decoration: underline;
}

.main__popular nav a:hover figure figcaption{
  background-color: var(--accents-hover);
}

/* Search for products*/
.main__searched-products{
  width: clamp(300px, 70%, 1500px);
}

.main__grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.main__grid-element{
  border: 1px solid #f5f5f5;
  width: 100%;
  margin: 0;
  aspect-ratio: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__image-container{
  width: 100%;
  height: 60%;
  background-color: var(--third-color);
}

.main__item-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: darken;
  cursor: pointer;
}

.main__grid-element *:not(.main__image-container, .main__item-image){
  margin-left: 10px;
}

.main__item-description{
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
  font-size: 1.1rem;
}

.main__item-description:hover{
  color: var(--accents-hover);
}

.main__item-price{
  font-weight: 600;
  display: flex;
  font-size: 1.2rem;
  margin: 10px 0;
}

.main__add-to-cart-btn{
  border: none;
  width: 40%;
  padding: 8px 15px;
  border-radius: 17px;
  background-color: var(--accents-color);
  cursor: pointer;
  font-family: var(--main-font-fam);
}

.main__add-to-cart-btn:hover{
  background-color: var(--accents-hover);
}

.main__item-reverb-link{
  margin: 10px 0;
  width: max-content;
  font-size: 0.8rem;
  text-decoration: none;
  color: #FF6200;
}

.main__item-reverb-link:hover{
  text-decoration: underline;
}

/* Pagination */
.main__pagination-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main__prev-next-btns{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accents-color);
  border: none;
  cursor: pointer;
}

.main__prev-next-btns:hover{
  background-color: var(--accents-hover);
}

/* Search not found message */
.main__search-not-found{
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
  background-color: var(--accents-color);
}

.main__search-not-found a{
  cursor: pointer;
}

.main__search-not-found a strong:hover{
  text-decoration: underline;
  color: var(--accents-hover);
}

/* FOOTER */
.footer{
  width: 100%;
  height: 10dvh;
  background-color: var(--mid-tone);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 2rem;
}

.footer a{
  color: var(--accents-color);
}